# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace "example.com" below with your
# domain name.

{
  # Set the ACME DNS challenge provider to use Cloudflare for all sites
  acme_dns cloudflare {env.CLOUDFLARE_ZONE_READ_N_WRITE}
  resolvers 1.1.1.1, 1.0.0.1
}

finnsbin.win {


    # Set this path to your site's directory.
    root * /usr/share/caddy/homepage

    # Enable the static file server.
    #file_server

    # Another common task is to set up a reverse proxy:
    reverse_proxy homepage:443

    # Or serve a PHP site through php-fpm:
    # php_fastcgi localhost:9000

    encode gzip

    tls {
      # No need to specify dns here, it's already set globally
    }
}

whoami.finnsbin.win {
    #root * /usr/share/caddy/whoami
    #file_server
    #encode gzip
    reverse_proxy whoami:8000


    tls {
        # No need to specify dns here, it's already set globally
    }
}